<div class="header-content">
    <div class="logo-container">
        <a title="Ir a la página principal" href="/"> <img src="assets/img/logos/logo-isaacbegue-white.png" alt="logo-isaacbegue" class="logo-img">
        </a>
    </div>
    <span class="menu-toggle ocultar-en-mayor-768px" id="boton-menu-desplegable">
        <img src="assets/img/logos/bars_solid.svg" alt="menu">
    </span>
</div>
<nav class="menu-desplegable" id="menu-desplegable">
    <ul id="main-navigation">
        <li><a href="#musica">Música</a></li>
        <li><a href="#publicaciones">Publicaciones</a></li>
        <li><a href="#descargas">Descargas</a></li>
        </ul>
</nav>