<section class="contenedor album-detail-view">
    <br/>
    <br/>
    <br/>
    <h1 id="album-detail-title">Cargando Título...</h1>
    <img id="album-detail-cover" class="portada" src="assets/img/placeholder.png" alt="Cargando Portada...">
    <p id="album-detail-year" class="centrado"></p>
    <div id="album-detail-links" class="enlaces-escuchar">
        </div>
    <div class="dos-columnas-en-tablet album-info">
        <div class="canciones">
            <h3>Canciones</h3>
            <div id="album-detail-songlist">
                <p>Cargando canciones...</p>
            </div>
        </div>
        <div class="album-description">
            <h3>Comentarios del Álbum</h3>
            <div id="album-detail-description">
                <p>Cargando descripción...</p>
            </div>
        </div>
    </div>
    <hr>
    <p class="alinear-derecha"> <a href="#musica">Volver a Música</a> </p>
</section>