<br/>
<br/>

<section>
    <div class="video-loop">
        <video loop muted autoplay poster="assets/vid/alter-videoloop.png">
             <source src="assets/vid/video-loop.mp4" type="video/mp4">
             Tu navegador no soporta el elemento de video.
        </video>
        <div class="buttons-over-video" id="random-album-buttons">
            <p style="color: white; text-align: center; width: 100%;">Cargando álbum destacado...</p>
        </div>
    </div>
</section> 

<section class="contenedor" id="main-feed-content">
    <p class="centrado">Cargando publicaciones...</p>
</section>

<section class="contenedor">
    <h2>Vídeos Live</h2>
    <p>He realizado algunos live en Facebook y YouTube, espero pronto apartar un tiempo para preparar otro.</p>
    <div class="enlaces-videos-youtube">
        <div class="iframe-container">
            <p>Últimos vídeos live</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLO6WYGpwVQTgHUfLLTElp3bWB71YNjcwA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <hr>
</section>