<br/>
<br/>
<br/>
<h1>Música</h1>
<section class="contenedor seccion-albumes">
  <h3>Álbumes y EP's</h3>
  <div class="albumes" id="albumList"></div>
  <hr>
</section>

<section class="contenedor seccion-canciones">
  <h3>Canciones</h3>
  <div class="song-tables-container">
    <table id="originalSongList">
      <caption>Originales</caption>
      </table>

    <table id="coverSongList">
      <caption>Covers</caption>
      </table>

    <table id="algoritmoSongList">
      <caption>No fui yo, fue el algoritmo</caption>
       </table>
  </div>
</section>