<main class="contenedor post-detail-view">
    <br/>
    <br/>
    <br/>
    <h1 id="post-detail-title">
        Cargando Título...
    </h1>
    
    <p class="alinear-derecha">
        <a id="post-detail-backlink" href="#publicaciones">Volver a Publicaciones</a>
    </p>

    <div id="post-detail-content">
        <p>Cargando contenido...</p>
    </div>

    <p class="alinear-derecha">
        <a id="post-detail-backlink-bottom" href="#publicaciones">Volver a Publicaciones</a>
    </p>
</main>