<section class="contenedor cancion song-detail-view">
    <br/>
    <br/>
    <br/>
    <h1 id="song-detail-title">Cargando Título...</h1>
    <img id="song-detail-cover" class="portada" src="assets/img/placeholder.png" alt="Cargando Portada...">
    <div id="song-detail-links" class="enlaces-escuchar">
        </div>
    <p class="alinear-derecha"> <a id="song-detail-backlink" href="#musica">Volver al Álbum</a> </p>
    <div class="dos-columnas-en-tablet album-info">
        <div id="song-detail-lyrics" class="letra">
            <h3>Letra</h3>
            <p>Cargando letra...</p>
            </div>
        <div id="song-detail-commentary" class="letra">
            <h3>Comentarios</h3>
            <p>Cargando comentarios...</p>
            </div>
    </div>
    <hr>
    <p class="alinear-derecha"> <a id="song-detail-backlink-bottom" href="#musica">Volver a Música</a> </p> </section>